.example-card {
  max-width: 400px;
}

.example-header-image {
  background-image: url("https://material.angular.io/assets/img/examples/shiba1.jpg");
  background-size: cover;
}

.links {
  cursor: pointer;
  color: green;
}

.links:hover {
  color: black;
}


.image       { width: 400px; height: 400px;  }
.clip-circle { clip-path: circle(200px at center); }
