<mat-card class="example-card">
   
  <img mat-card-image [src]="imageUrl" alt="Photo of a Shiba Inu"/>
  <mat-card-content>
    <h4>{{ valueShow }}</h4>
    <h1>
      <b>{{ details }}</b>
    </h1>
    <!--mouseleave must be implement-->
    <ul class="nav justify-content-center">
      <li class="nav-item">
        <a class="nav-link links" (mouseover)="changeText('persona')"
          ><mat-icon>account_circle</mat-icon></a
        >
      </li>
      <li class="nav-item">
        <a class="nav-link links" (mouseover)="changeText('numero')"
          ><mat-icon>smartphone</mat-icon></a
        >
      </li>
      <li class="nav-item">
        <a class="nav-link links" (mouseover)="changeText('location')"
          ><mat-icon>home</mat-icon></a
        >
      </li>
      <li class="nav-item">
        <a class="nav-link links" (mouseover)="changeText('email')"
          ><mat-icon> email</mat-icon></a
        >
      </li>
      <li class="nav-item">
        <a class="nav-link links" (mouseover)="changeText('bday')"
          ><mat-icon>cake</mat-icon></a
        >
      </li>
      <li class="nav-item">
        <a class="nav-link links" (mouseover)="changeText('password')"
          ><mat-icon>lock</mat-icon></a
        >
      </li>
    </ul>
  </mat-card-content>
</mat-card>
