<mat-card class="example-card">
  <img mat-card-image [src]="imageUrl" alt="Photo of a Shiba Inu" />
  <mat-card-content>
    <p style="text-align:center;"><b>{{titleP}}. {{ first }} {{ last }}</b></p>
    <ul class="nav justify-content-center">
      <li class="nav-item">
        <a class="nav-link active" aria-current="page" href="#">Active</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="#">Link</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="#">Link</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="#">Link</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="#">Link</a>
      </li>
    </ul>
  </mat-card-content>
</mat-card>
